.Apuntes {
    display: flex;
    justify-content: center;
    position: relative;
	
}

.Apuntes_container{
    
    width: 80%;
    height:auto;
    background-color: papayawhip;
    border-radius: 10px;
    overflow: hidden;
}

.Apuntes_info{
    height: auto;
    background-color: whitesmoke;
    
       
}

.Apuntes_nombre__usuario{
    margin-left: 10px;
}

.Apuntes_nombre{
    display: flex;
    flex-direction: row;
}

.Icon_person{
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.Apuntes_text{
    display: flex;
    justify-content: center;
    
}

textarea{
	border: none;
	outline: none;
	resize: none;
}

.text_area{
	margin-top: 5px;
	width: auto;
	height: auto;
	border: 1px solid #229CFF;
	border-radius: 2px;
	font-size: 16px;
}
.text_area:hover{
	-moz-box-shadow: 0px 0px 10px 1px  #EBF6FF;
	-webkit-box-shadow: 0px 0px 10px 1px  #EBF6FF;
	box-shadow: 0px 0px 10px 1px  #EBF6FF;
	border: 1px solid #229CFF;
}

.Apuntes_boton__guardar{
    display: flex;
    justify-content: flex-end;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.Apuntes__table{
    display: grid;

	place-items: center;

}